@import 'tailwindcss';

@plugin "tailwindcss-animate";

@theme inline {
  --font-nunito: 'Nunito', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(5% 0.005 20deg);

  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(5% 0.005 20deg);

  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(5% 0.005 20deg);

  --primary: oklch(57% 0.25 57deg);

  --primary-foreground: oklch(98% 0.01 60deg);

  --secondary: oklch(98% 0.01 32deg);

  --secondary-foreground: oklch(10% 0.005 24deg);

  --muted: oklch(96% 0.01 60deg);
  --muted-foreground: oklch(45% 0.02 25deg);

  --accent: oklch(96% 0.01 60deg);
  --accent-foreground: oklch(10% 0.005 24deg);

  --destructive: oklch(60% 0.21 0deg);
  --destructive-foreground: oklch(98% 0.01 60deg);

  --border: oklch(90% 0.01 20deg);

  --input: oklch(90% 0 0deg);

  --ring: oklch(53% 0.2 25deg);
  --radius: 1rem;
}

@layer base {
  * {
    @apply font-nunito border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 6px;
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #dbdadd;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #dbdadd;
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

#nprogress .bar {
  background-color: var(--primary) !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--primary),
    0 0 5px var(--primary) !important;
}

#nprogress .spinner-icon {
  display: none !important;
}
